@import url(base.css);
#div13 {
  position: relative;
  grid-column: 1 / 8;
  grid-row: 1;
  border-radius: 16px;
  background-image: url(../images/bg-today-large.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 270px;
  width: 100%;
}
.info-banner {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-body);
}
.city-date {
  margin-left: 20px;
}
.city-date h4 {
  margin-top: 10px;
}
.temp-banner {
  margin-right: 20px;
  font-size: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}
.temp-banner img {
  height: 100px;
  margin-right: 30px;
}
.temp-banner h1 {
  font-style: italic;
  font-weight: var(--font-weight-regular);
}