@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --neutral-900: hsl(243, 96%, 9%);
  --neutral-800: hsl(243, 27%, 20%);
  --neutral-700: hsl(243, 23%, 24%);
  --neutral-600: hsl(243, 23%, 30%);
  --neutral-300: hsl(240, 6%, 70%);
  --neutral-200: hsl(250, 6%, 84%);
  --neutral-0: hsl(0, 0%, 100%);

  --orange-500: hsl(28, 100%, 52%);
  --blue-500: hsl(233, 67%, 56%);
  --blue-700: hsl(248, 70%, 36%);

  --font-body: "DM Sans", sans-serif;
  --font-heading: "Bricolage Grotesque", sans-serif;


  --font-weight-light: 300;
  --font-weight-regular: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}
body {
  background-color: var(--neutral-900);
  color: var(--neutral-0);
  margin-left: 80px;
  margin-right: 80px;
  font-family: var(--font-heading);
  font-size: 18px;
}
h4 {
  color: var(--neutral-300);
  font-weight: var(--font-weight-regular);
}