@import url(base.css);
.stats-row {
  grid-column: 1 / 8;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
#div2,
#div3,
#div4,
#div5,
#div6,
#div7,
#div8 {
  border-radius: 10px;
  padding: 15px;
  background-color: var(--neutral-800);
}
.daily-forecast {
  grid-column: 1 / 8;
  grid-row: 3;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 20px;
  margin-top: 40px;
}
.daily-title {
  grid-column: 1 / 8;
  grid-row: 3;
  margin-top: 15px;
  font-family: var(--font-body);
}
.temp {
  display: flex;
  justify-content: space-between;
  color: var(--neutral-0);
}
.icon-down-grid {
  height: 60px;
}
