@import url(base.css);
.grid-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr) 297px;
  grid-template-rows: auto auto auto auto;
  gap: 20px;
}
#div1 {
  grid-column: 8;
  grid-row: 1 / 4;
  background-color: var(--neutral-800);
  border-radius: 10px;
  padding: 10px;
}
.stats-row {
  grid-column: 1 / 8;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
#div9,
#div10,
#div11,
#div12 {
  display: grid;
  background-color: var(--neutral-800);
  padding: 20px;
  font-size: 18px;
  border-radius: 10px;
  font-family: var(--font-body);
  font-weight: var(--font-weight-light);
}
#div9 span,
#div10 span,
#div11 span,
#div12 span {
  margin-top: 30px;
  font-size: 32px;
}